<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieMate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieMate.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar-custom navbar-expand-sm">
            <div class="navbar-custom">
                <a asp-area="" asp-page="/Index"> <img class="navimage" src="~/images/MovieMateLogo.png" alt="MovieMateLogo" /> </a>
                <div class="d-sm-inline-flex">
                    <ul class="navbar-nav">
                        <li class="watchlist-container">
                            <img class="watchlist-icon" src="~/images/WatchlistIcon.png" alt="WatchlistIcon" />
                            <a class="navcolor nav-link" style="padding-left: 1px; asp-area=" asp-page="/Index">Watchlist</a>
                        </li>
                        <li class="search-container">
                            <input class="search-bar" type="text" placeholder="Search" />
                            <button class="search-btn"><img class="search-img" src="~/images/SearchIcon.png" alt="SearchIcon" /></button>
                        </li>
                        <li class="btn-container">
                            <button class="btn btn-light">Sign in</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MovieMate - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>